body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
header {
  background-color: rgb(51, 61, 83);
  padding-bottom: 40px;
}
header div {
  margin: auto;
}
header div p {
  color: white;
  text-align: center;
}
header div .title1 {
  font-size: 100px;
  font-family: monospace;
  font-weight: 600;
  text-shadow: 7px 7px 4px rgb(112, 112, 112);
}
header div .title2 {
  font-size: 22px;
  margin: -50px 0 0 160px;
}

@media (max-width: 700px) {
  header div .title1 {
    font-size: 70px;
    text-shadow: 5px 5px 4px rgb(112, 112, 112);
  }
  header div .title2 {
    font-size: 18px;
    margin: -35px 0 0 100px;
  }
}
